* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica", sans-serif;
}

body {
  background-color: rgb(20, 20, 20);
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

h1 {
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

label {
  position: relative;
  left: -10px;
}

.input-container {
  display: flex;
  gap: 40px;
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  height: 70px;
  width: 300px;
}

.input-container span {
  display: flex;
  justify-content: space-between;
}

input {
  cursor: pointer;
}

p {
  font-size: 0.8rem;
}

button {
  cursor: pointer;
}

.start-btn {
  padding: 0.5rem 1rem;
  position: relative;
  left: -10px;
}

/* board dimensions: height (px) x width (px)
easy: 216 x 216
medium: 384 x 384
hard: 384 x 720 */

.board {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
}

.board div {
  background-color: #bababa;
  border: outset;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
}

.board .zero {
  border: solid 1px grey;
}

.board .one {
  border: solid 1px grey;
  color: blue;
  cursor: default;
}

.board .two {
  border: solid 1px grey;
  color: #00aa00;
  cursor: default;
}

.board .three {
  border: solid 1px grey;
  color: red;
  cursor: default;
}

.board .four {
  border: solid 1px grey;
  color: rgb(0, 0, 138);
  cursor: default;
}

.board .five {
  border: solid 1px grey;
  color: #892518;
  cursor: default;
}

.board .six {
  border: solid 1px grey;
  color: #33a3a3;
  cursor: default;
}

.board .seven {
  border: solid 1px grey;
  color: grey;
  cursor: default;
}

.board .bomb {
  border: solid 1px grey;
  background-image: url("../imgs/bomb.png");
  background-size: cover;
}

.board .exploded {
  border: solid 1px grey;
  background-color: red;
  background-image: url("../imgs/bomb.png");
  background-size: cover;
}

.board .flag {
  background-image: url("../imgs/flag.png");
  background-size: cover;
}

.victory-msg-container {
  display: none;
}

.defeat-msg-container {
  display: none;
}

.msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
